*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:lightgoldenrodyellow;
}

.wrapper {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;

}

